@import "tailwindcss";

@font-face {
  font-family: 'Gambetta-Variable';
  src: url('/fonts/Gambetta-Variable.woff2') format('woff2'),
       url('/fonts/Gambetta-Variable.woff') format('woff'),
       url('/fonts/Gambetta-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Gambetta-VariableItalic';
  src: url('/fonts/Gambetta-VariableItalic.woff2') format('woff2'),
       url('/fonts/Gambetta-VariableItalic.woff') format('woff'),
       url('/fonts/Gambetta-VariableItalic.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Supreme-Variable';
  src: url('/fonts/Supreme-Variable.woff2') format('woff2'),
       url('/fonts/Supreme-Variable.woff') format('woff'),
       url('/fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Supreme-VariableItalic';
  src: url('/fonts/Supreme-VariableItalic.woff2') format('woff2'),
       url('/fonts/Supreme-VariableItalic.woff') format('woff'),
       url('/fonts/Supreme-VariableItalic.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Gambetta-Variable', serif; */
}

.font-gambetta {
  font-family: 'Gambetta-Variable', serif;
}

.font-gambetta-italic {
  font-family: 'Gambetta-VariableItalic', serif;
}

.font-supreme {
  font-family: 'Supreme-Variable', sans-serif;
}

.font-supreme-italic {
  font-family: 'Supreme-VariableItalic', sans-serif;
}
